<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LedControl</title>
	<script src="socket.io/socket.io.js"></script>
	<script src = "jquery.js"></script>
	<script src ="xuli.js"></script>
	<link rel="stylesheet" type="text/css" href="lauout.css" />
	
</head>
<body>
<div id="Control">
	<h3>BAM NUT DI NGAI CHI</h3>
	<input type="button"  value="ON" id="btnON">
	<input type="button"  value="OFF" id="btnOFF">
</div>
</body>
</html>